<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- Use <%= page.title %> for dynamic title -->
  <title><%= config.title %></title>

  <!-- Twitter bootstrap (via cdn) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap" rel="stylesheet">


  <style>
    .jumbotron {
      position: relative;
      overflow: hidden;
      height: 300px;
      font-family: 'IBM Plex Mono', monospace;
    }

    .jumbotron .container {
      position: relative;
      z-index: 2;
      color: white;
    }

    .jumbotron:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('https://images.unsplash.com/photo-1546900703-cf06143d1239?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1291&q=80://images.unsplash.com/photo-1529465230221-a0d10e46fcbb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80://images.unsplash.com/photo-1526649661456-89c7ed4d00b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1171&q=80.com/photo-1482062364825-616fd23b8fc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
      background-size: cover;
      background-repeat: no-repeat;
      filter: blur(2px);
    }
  </style>

</head>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Hexo by David
      </a>
    </div>
  </div>
</nav>

<body>
  <div class='container'>
    <%- body %>
  </div>
</body>

</html>